*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: base-font-size(10px); //1 rem = 10px; 10px/16px = 62.5%

    @include respond($tablet-landscape, tl) {
        font-size: base-font-size(9px);
    }

    @include respond($tablet-portrait, tp) {
        font-size: base-font-size(8px);
    }

    @include respond($big-desktop, big-desktop) {
        font-size: base-font-size(12px);
    }

    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    // padding: 3rem;
    overflow-x: hidden; //fix white space showing up on right side of page when background image should extend full length of page in google chrome

    @include respond($tablet-portrait, tp) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
